.backButton {
    background-color: #6E2E9C;
    text-align: center;
    font-weight: bold;
    font-size:medium;
    height: 3rem;
    padding: 1rem;
    margin: 0px 3rem;
    


} 
.backButton a {
    
    color: white;
    text-decoration: none;

}